.Forgot-form-container {
    width: 320px;
    border-radius: 0.75rem;
    background-color: rgba(17, 24, 39, 1);
    padding: 2rem;
    color: rgba(243, 244, 246, 1);
    /* margin-top: 0px; */
  }
  .PassWordChange-main{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url('../../Assets/girl.jpg');
  }
  .PasswordChange-form-container{
    width: 320px;
    border-radius: 0.75rem;
    background-color: rgba(17, 24, 39, 0.5);
    padding: 2rem;
    color: rgba(243, 244, 246, 1);
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

  }
  .pass-background{
    background-image: linear-gradient(rgba(0, 0, 0, 0.63),rgba(0, 0, 0, 0.63));
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Forgot-title {
    text-align: center;
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: 600;
  }
  
  .Forgot-form {
    /* margin-top: 1.5rem; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* background-color: yellow; */
    height: 200px;
  }
  
  .Forgot-input-group {
    /* margin-top: 0.25rem;
    font-size: 0.875rem;
    line-height: 1.25rem; */
    /* background-color: yellow; */
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .passwordchange-input-group {
    /* margin-top: 0.25rem;
    font-size: 0.875rem;
    line-height: 1.25rem; */
    /* background-color: yellow; */
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  
  .Forgot-input-group label {
    display: block;
    color: rgba(156, 163, 175, 1);
    margin-bottom: 4px;
  }
  .passwordchange-input-group label{
    display: block;
    color: rgba(156, 163, 175, 1);
    margin-bottom: 4px;
  }
  
  .Forgot-input-group input {
    width: 90%;
    border-radius: 0.375rem;
    border: 1px solid rgba(55, 65, 81, 1);
    outline: 0;
    background-color: rgba(17, 24, 39, 1);
    padding: 0.75rem 1rem;
    color: rgba(243, 244, 246, 1);
  }
  .passwordchange-input-group input {
    width: 90%;
    border-radius: 0.375rem;
    border: 1px solid rgba(55, 65, 81, 1);
    outline: 0;
    background-color: rgba(17, 24, 39, 1);
    padding: 0.75rem 1rem;
    color: rgba(243, 244, 246, 1);
  }
  .Forgot-Button{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: aquamarine;
  }
  
  .Forgot-input-group input:focus {
    border-color: rgba(167, 139, 250);
  }
  .passwordchange-input-group input:focus{
    border-color: rgba(167, 139, 250);
  }
  
  .Forgot-forgot a,.signup a {
    color: rgba(243, 244, 246, 1);
    text-decoration: none;
    font-size: 14px;
  }

  
  .Forgot-sign {
    display: block;
    width: 100%;
    background-color: rgb(139, 224, 250);
    padding: 0.75rem;
    text-align: center;
    color: rgba(17, 24, 39, 1);
    border: none;
    border-radius: 0.375rem;
    font-weight: 600;
  }
  


  .Forgot-signup {
    text-align: center;
    font-size: 0.75rem;
    line-height: 1rem;
    color: rgb(255, 255, 255);
    /* margin-top: 15px; */
    /* background-color: aqua; */
  }
  .Forgot-registar-button{
    outline: none;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
  }
  #Forgot-username{
    width: 280px;
  }
  #Forgot-password{
    width: 280px;
  }
  #Forgot-username::placeholder{
    color: white;
  }
  #Forgot-password::placeholder{
    color: white;
  }
  .Forgot-form-head{
    display: flex;
    flex-direction: column;
  }

  .passWordChange-button{
    background-color: rgba(127, 255, 212, 0.726);
    width: 100%;
    height: 40px;
    border-radius: 10px;
    outline: none;
    border: none;
    color: white;
  }

  /* =============================================passwordchange=============================================== */

  .Password-form-container {
    width: 320px;
    border-radius: 0.75rem;
    background-color: rgba(17, 24, 39, 1);
    padding: 2rem;
    color: rgba(243, 244, 246, 1);
    margin-top: 0px;
  }
  
  .Password-title {
    text-align: center;
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: 600;
  }
  
  .Password-form {
    /* margin-top: 1.5rem; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* background-color: yellow; */
    height: 200px;
  }
  
  .Password-input-group {
    margin-top: 0.25rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  
  .Password-input-group label {
    display: block;
    color: rgba(156, 163, 175, 1);
    margin-bottom: 4px;
  }
  
  .Password-input-group input {
    width: 100%;
    border-radius: 0.375rem;
    border: 1px solid rgba(55, 65, 81, 1);
    outline: 0;
    background-color: rgba(17, 24, 39, 1);
    padding: 0.75rem 1rem;
    color: rgba(243, 244, 246, 1);
  }
  
  .Password-input-group input:focus {
    border-color: rgba(167, 139, 250);
  }

  
  .Password-forgot a,.signup a {
    color: rgba(243, 244, 246, 1);
    text-decoration: none;
    font-size: 14px;
  }

  
  .Password-sign {
    display: block;
    width: 100%;
    background-color: rgb(139, 224, 250);
    padding: 0.75rem;
    text-align: center;
    color: rgba(17, 24, 39, 1);
    border: none;
    border-radius: 0.375rem;
    font-weight: 600;
  }
  


  .Password-signup {
    text-align: center;
    font-size: 0.75rem;
    line-height: 1rem;
    color: rgb(255, 255, 255);
    /* margin-top: 15px; */
    /* background-color: aqua; */
  }
  .Password-registar-button{
    outline: none;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
  }
  #Password-username{
    width: 280px;
  }
  #Password-password{
    width: 280px;
  }
  #Password-username::placeholder{
    color: white;
  }
  #Password-password::placeholder{
    color: white;
  }
  .Password-form-head{
    display: flex;
    flex-direction: column;
  }